<footer class="footer grid-3 gap">
    <section class="club item">
        <h3>Club Ítem</h3>
        <p>
            Escaneá el código o escribínos por whatsapp para acceder a descuentos únicos, artículos exclusivos, prioridad en los lanzamientos y ventas personalizadas.
        </p>
        <div class="qr grid-2 gap">
            <img src="{{ site.baseurl }}/assets/img/qr.jpg" width="100%" class="removeMobile-xl" />
            <h4>
                <a href="{{ site.baseurl }}/club-item" class="button">Ser parte</a>
            </h4>
        </div>
    </section>
    <!--  -->
    <section class="categories">
        <h3>Categorías</h3>
        <ul class="minimal">
            <li>
                <a href="{{ site.baseurl }}/collection">Remeras</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Denim</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Shorts</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Bodys y tops</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Vestidos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Camisas</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Pantalones</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Jumpsuit</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Buzos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Abrigos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Tejidos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Faldas</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Accesorios</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Corsets</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Edición limitada</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Item Garage</a>
            </li>
        </ul>
    </section>
    <!--  -->
    <section class="help">
        <h3>Atención al cliente</h3>
        <ul class="minimal">
            <li>
                <a href="{{ site.baseurl }}/refunds">Política de <span class="removeMobile">cambio y</span> devoluciones</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/privacy">Política de privacidad</a>
            </li>
        </ul>
        <div class="search">
            <h3>Buscar</h3>
            <input type="text" placeholder="Buscar..." class="input rounded">
        </div>
    </section>
</footer>
</body>
</html>