<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ítem</title>
    <!-- ⚡ Important CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/grid.css" />
    <!-- ⌨ Input's CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/input.css" />
    <!-- 🕸 Partials' CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hamburguer-menu.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sidebar.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer.css" />
    <!-- 🌐 Pages' specific CSS -->
    {% if layout.type == 'home' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css" />
    {% endif %}
    {% if layout.type == 'retail' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/retail.css" />
    {% endif %}
    {% if layout.type == 'wholesaler' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/wholesaler.css" />
    {% endif %}
    {% if layout.type == 'productShowcase' or layout.type == 'product' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/productShowcase.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/color.css" />
    {% endif %}
    {% if layout.type == 'product' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/product.css" />
    {% endif %}
    {% if layout.type == 'cart' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cart.css" />
    {% endif %}
    {% if layout.type == 'login' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/login.css" />
    {% endif %}
    {% if layout.type == 'signup' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/signup.css" />
    {% endif %}
    {% if layout.type == 'clubItem' %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/clubItem.css" />
    {% endif %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>