<div id="sidebar">
    <nav>
        <ul class="minimal">
            <li>
                <a href="{{ site.baseurl }}/collection">Remeras</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Denim</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Shorts</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Bodys y tops</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Vestidos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Camisas</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Pantalones</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Jumpsuit</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Buzos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Abrigos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Tejidos</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Faldas</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Accesorios</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/collection">Corsets</a>
            </li>
        </ul>
    </nav>
    <!-- <div class="logo"></div> -->
</div>

<script src="../assets/js/sidebarCtrl.js"></script>