section.signup form {
    width: 320px;
    margin: 0 auto;
}
section.signup form h2, section.signup form h3 {
    margin: 0 0 var(--gap-xxxl) 0;
}
section.signup form h2 span, section.signup form h3 span {
    /* Font */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}
section.signup form .input {
    width: 100%;
    float: left;
    clear: both;
    display: block;
    margin: 0 0 var(--gap-xl) 0;
}
section.signup form label {
    text-align: left;
    margin-bottom: var(--gap);
}
/*  */
section.signup form .group {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: var(--gap-xxxl);
}
section.signup form .group.shipment {
    border-bottom: 1px solid var(--black);
    padding-bottom: var(--gap-xl);
}
section.signup form .group h3 {
    padding: var(--gap-xl);
    background: var(--black);
    margin: 0 0 var(--gap-xl) 0;
    /* Font */
    font-weight: 500;
    color: var(--white-full);
}
/* section.signup form .group .body {
    padding: var(--gap) var(--gap-xl) var(--gap) var(--gap-xl);
} */
section.signup form .footer {
    width: 320px;
    margin: 0 auto;
    padding: 0 var(--gap) var(--gap-xxl) var(--gap);
    text-align: center;
    /* Child float fix */
    display: table;
    content: "";
    clear: both;
}
section.signup form .footer input[type=checkbox].newsletter {
    width: 18px;
    height: 18px;
    float: left;
}
section.signup form .footer label.newsletter {
    float: right;
    margin-top: 3px;
    /* Font */
    font-weight: 300;
    letter-spacing: -1px;
    text-transform: uppercase;
}
section.signup form .footer .button.rounded {
    margin-top: var(--gap-xl);
}
@media(min-width: 1024px) {
    section.signup form {
        width: 520px;
    }
    section.signup form h2 span.removeMobile, section.signup form h3 span.removeMobile {
        display: inline !important;
    }
}