---
type: clubItem
---

{% include head.html %}
{% include header.html %}
{% include sidebar.html %}
<section class="clubItem grid center fullscreen noDisclaimer">
    <div class="container">
        <h2>Club Ítem</h2>
        <p>
            Club Item es ideal para quiénes buscan descuentos únicos, artículos exclusivos, prioridad en los lanzamientos y ventas personalizadas para su tienda/showroom.
            <br />
            ¡Escribinos para más info!
        </p>
        <section class="qr grid-2 gap">
            <img src="{{ site.baseurl }}/assets/img/qr.jpg" width="50%" style="margin: 0 auto" />
            <div class="grid center">
                <div class="group">
                    <a href="#" class="button">WhatsApp</a>
                    <a href="#" class="button">Teléfono</a>
                </div>
            </div>
        </section>
    </div>
</section>
{% include footer.html %}

<script src="../assets/js/containerCtrl.js"></script>