---
type: home
---

{% include head.html %}
<section class="home container fullscreen grid-2">
    <div class="wholesaler">
        <div class="body">
            <a href="/wholesaler" class="fullscreen">
                <h2>
                    Online Store
                    <strong>Mayorista</strong>
                </h2>
            </a>
        </div>
    </div>
    <div class="retail">
        <div class="body">
            <a href="/retail" class="fullscreen">
                <h2>
                    E-commerce
                    <strong>Minorista</strong>
                </h2>
            </a>
        </div>
    </div>
</section>
<!-- No footer included, so 👇 -->
</body>
</html>